{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Email de réinitialisation de votre mot de passe envoyé{% endblock %}
{% block description %}Email de réinitialisation de votre mot de passe envoyé{% endblock %}
{% block keywords %}Email, réinitialisation, mot de passe{% endblock %}

{% block main %}
     <h1 class="text-center my-3 display-5">En attente email de confirmation</h1>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <p>Si vous avez enregistré la bonne adresse email, un email vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.</p>
                <p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
                <p>Si vous ne recevez pas d'email, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réssayer à nouveau</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
