<h1>Bonjour</h1>

<p>
    Afin de confirmer votre inscription, il est nécésaire de vérifier votre adresse mail. <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>Bienvenue chez Canap'plus</p>
<p>L'équipe Canap'plus</p>
